*{
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Inter,sans-serif;
    color:white;
    display: flex;
    flex-direction: column;
    background-color:#1C1C1C;
    position: relative;
    
}
header{   
    flex-shrink: 0;   
    background-image: url(images/THJJRUhNlEc.png);
    width: 100%;
    background-size: cover;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content{
    margin-left: 2.625em;
    margin-right: 46px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.site-header{
    font-weight: 800;
    font-family: Inter;
    font-size: 2.674375rem;
    line-height: 1.485625rem;
}
.my-watchlist{
    margin-top: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.search-bar{
    background-color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    width: 84%;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    position: absolute;
    top: 189px;
    left: 50%;
    transform: translateX(-50%); /*Moves the element left -50% by it owns width. Essentially
    centering it when paired with left: 50%;*/
    /*Layout*/
    display: flex;
    align-items: center;
    padding-left: 0.9375em;
}
.search-bar label{
    height: 16px;
}
#user-search{
    flex: 1;
    border: none;
    margin-left: 0.5em;
}
#user-search:focus{
    outline: none;
}
#user-search::placeholder{
    font-weight: 500;
    font-size: 0.875rem;
    line-height:1.25rem;
    color: #6B7280;
}
#search-button{
    padding: 9px 11px 9px 17px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #D1D5DB;
    background: #F9FAFB;
    margin-left: auto;
    width: 120px;
    height: 100%;
}

main{
    flex: 1;
    background-color: #FFFFFF;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 63px;
}
#no-data-initial-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
/*Stuff for dynamically rendered cards*/

.movie-card{
    display: flex;
    color: #000000;
    width: 84%;
    height: 147.41px;
    column-gap: 1.3125em;
}
.movie-poster{
    height: 100%;
    width: 99px;
}
.movie-title{
    display: inline;
    margin-right: 0.44444444444em;
    width: 24%;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25rem;
}
.star-icon{
    width: 15px;
    height: 15px;
}
.movie-details{
    flex: auto;
    height: 100%;
}
.watchlist-btn img{
    width: 16px;
    height: 16px;
}

.extra-info{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    height: 20px;
}
.centered-align{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.genre{
    margin-left: 1.1875em;
    margin-right: 1.875em;
}
.watchlist-btn{
    color: #111827;
    background-color: inherit;
    border: none;
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    padding: 0;
}
.plot {
    max-width: 342px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
    margin-top: 0.571em;
    color: #6B7280;
}
hr{
    display: inline-block;
    width: 84%;
    border: 1.5px solid #E5E7EB;
    margin: 1.3125em 0;
}



/*Slight tweaks for mobile*/
@media (max-width:500px) {
    .plot{
        font-size: 0.7rem;
    }
    .movie-card{
        height: 270px;
    }
    .extra-info{
        font-size: 0.7rem;
    }
    .movie-poster{
        max-height: 160px;
    }
    .header-content{
        justify-content: space-evenly;
        margin: 0;
    }
    .site-header{
        font-size: 2rem;
    }
    .genre{
        margin: 0;
    }
    .runtime{
        width: 100%;
    }
}